mat-toolbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1.9rem;
  margin-bottom: 30px;
  padding-top: 20px;
  height: 100px;
}

span{
  padding-bottom: 20px;
}
